.cool {
    color: red;
}

#root {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "navigation navigation navigation navigation navigation"
        "headerPic about about about about"
        "header about about about about"
        "header about about about about"
        "header footer footer footer footer";
    gap: 10px;
}

.navigation {
    grid-area: navigation;
    
}

.navigation ul {
    display: flex;
    flex-flow: row;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
}

.brand img {
    border-radius: 50px;
    
}

.headerPic {
    grid-area: headerPic;
    max-width: 100%;
    max-height: auto;
}